<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome.Sharp" version="6.3.0" targetFramework="net48" />
  <package id="GenCode128" version="1.0.0" targetFramework="net45" />
  <package id="MaterialSkin.2" version="2.3.1" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.900.148" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net45" />
</packages>